{% extends 'base.html' %}

{% block title %}Create Contact{% endblock %}

{% block content %}

{% include 'menu.html' %}

<section class="content-admin">
	
	<!-- área para criar um contato -->
	<section class="new-contact">
		<header>
			<h3>New Contact</h3>
			<p>Complete all fields</p>
		</header>

		<form action="" method="POST">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" required>
			
			<label for="surname">Surname</label>
			<input type="text" name="surname" id="surname">

			<label for="email">E-mail</label>
			<input type="email" name="email" id="email">

			<label for="contact">Contact</label>
			<input type="text" name="number" id="contact" required>

			<button class="btn btn-success">Save</button>
		</form>
	</section>

</section>	

{% endblock %}