.container-admin {
	display: flex;
}
/*nav lateral*/
.nav-side {
	max-width: 14.6413%;
	height: 100vh;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	box-shadow: 5px 0 10px #00000020;
	position: fixed;

	background-color: #2E2E2E ;
}
.nav-side h3 {
	color: white;
	font-family: 'Oleo Script', cursive;

	margin-bottom: 20px;
}
.nav-side h3:hover {
	color: gray;
}
.nav-side i, .nav-side a {
	color: white;
}
.nav-side a:hover > i, .nav-side a:hover {
	color: gray;
}
.nav-side ul li {
	padding: 10px;
}

/* content ADMIN */
.content-admin {
	/*border: 1px solid red;*/
	width: 85.3587%;
	padding: 1% 1%;
	margin-left: 14.6413%;
}

/* Ãrea de pesquisa */
.box-search {
	/*border: 1px solid red;*/
	width: 100%;
	padding: 0 2%;
	display: flex;
	justify-content: center;
}
.box-search input {
	text-align: center;
	width: 80%;
	padding: 9px;
	border: 1px solid #00000020;
	border-radius: 50px;
	transition: all .1s ease-in-out .1s;
}
.box-search input:hover, .box-search input:focus {
	box-shadow: 2px 2px 5px #00000020;
}

/*style contacts*/
.sec-contacts {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.contact {
	width: 130px;
	height: 140px;

	margin: 2% 1%;
	padding: 15px;
	background: #4DD0E1;
	border-radius: 5px;
	
	display: flex;
	align-items: center;

	transition: all .1s ease-in-out .1s;
	
}
.contact:hover {
	width: 300px;
	box-shadow: 3px 3px 7px #00000040;
}
.contact h5 {
	font-size: 100%;
	text-align: center;
	color:white;
}
.contact p, .contact i {
	color: white;
	text-align: center;
	margin: 5px 10px;
}
.contact > main {
	width: 90%;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	transition: all .1s ease-in-out .1s;
}
.contact h6 {
	visibility: hidden;
}