 @import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Open+Sans:400,700'); 
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oleo Script', cursive;
*/
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
	font-family: 'Oleo Script';
	src: url('../fonts/OleoScript-Regular.ttf') format('truetype');
}